* {
	box-sizing: border-box;
}

body {
	font-size: 112.5%;
	margin: 0;
	display: grid;
	grid-template-rows: auto auto auto;
	grid-template-columns: 10% 80% 10%;
	font-family: 'Open Sans', sans-serif;
}

img {
  border-radius: 50%;
  width: 120px;
}

header {
	text-align: center;
	border-bottom: 1px solid black;
	grid-column: 1 / 4;
	grid-row: 1 / 2;
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 100;
}

main {
	grid-column: 2 / 2;
	grid-row: 2/2;
}

footer {
	grid-column: 1 / 4;
	grid-row: 3 / 4;
}
