@import 'base';
@import 'colors';
@import 'utilities';

.card {
  background-color: $blue-grey;
  position: relative;
}

.card__bookmark{
  border: 10px solid black;
  border-top: 0;
  border-bottom: 10px solid transparent;
  height: 30px;
  width: 0;
  position: absolute;
  right: 5px;
}

.card__tag {
  background-color: white;
  border: 1px solid black;
}

.profile__img--circle {
  border-radius: 50%;
  width: 120px;
}

.card__img {
	max-width: 100%;
}

.footer__icon {
  width: 25px;
}

.card__button {
	background-color: $blue-grey;
  padding: 6px 12px;
  border: 1px solid transparent;
  border-bottom: 1px solid $light-grey;
  border-top: 1px solid $light-grey;
  min-height: 48px;
  width: 100%;
	padding: 6px 12px;
	font-size: 14px;
}

.card__button::after {
  content:">";
  position: absolute;
  right: 25px;
}