.bookmarkRibbon {
  border:       10px solid black;        /* All borders set */
  border-top:  0;                      /* Remove left border */
  border-bottom: 10px solid transparent; /* Right transparent */
  height:        30px;
  width: 0;              /* Increase element Width */
}

img {
    border-radius: 50%;
    width: 120px;
}